@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.material-symbols-outlined{
	color: white;
	background-color: teal;
	border: none;
	cursor: pointer;
}

.material-symbols-outlined:hover{
	color: turquoise;
}