.note {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	color: whitesmoke;
	border-radius: 4px;
	margin: 10px;
	padding: 5px;
}

.note-done {
	background-color: teal;
	opacity: 0.5;
	text-decoration: line-through;
}

.note-notDone {
	background-color: teal;
}
